<h1>Nuevo Auto</h1>
<form action="/crear" method="POST">
  Marca: <input name="marca"><br>
  Modelo: <input name="modelo"><br>
  A침o: <input type="number" name="a침o"><br>
  Precio: <input type="number" step="0.01" name="precio"><br>
  Color: <input name="color"><br>
  Transmisi칩n: <select name="transmision"><option>Manual</option><option>Autom치tica</option></select><br>
  Estado: <select name="estado"><option>Disponible</option><option>Vendido</option></select><br>
  <button>Guardar</button>
</form>
<a href="/">Volver</a>